/**************
 * Main stuff *
 **************/
body {
  background-color: #FFF;
  color: #000; 
                           scrollbar-face-color: ffffff;
		           scrollbar-shadow-color: 999;
		           scrollbar-highlight-color:999;
		           scrollbar-3dlight-color: ffffff;
		           scrollbar-darkshadow-color: ffffff;
		           scrollbar-track-color: ffffff;
		           scrollbar-arrow-color: 999;
}
p.logo {
  background: url(logo.jpg) no-repeat;
  width: 150px;
  height: 75px;
}
table.main {
  background: url(stripes.jpg) repeat;
  border: 1px #CCC solid;
  padding: 10px;
}
td.left {
  border: #CCC solid;
  border-width: 0px 1px 0px 0px;
}
/******************
 * Forms and misc *
 ******************/
input {
  background-color: #FFF;
}
table.mainpanel input {
  border: 1px #999 solid;
}
hr {
  color: #CCC;
  height: 1;
}
/*************
 * Nav links *
 *************/
a.main {
  display: block;
  background: url(lightbluepill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.main:hover {
  background: url(darkbluepill.jpg) no-repeat;
}
/********************
 * Top of plan info *
 ********************/
p.main {
  background: url(darkgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main2 {
  background: url(darkgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main3 {
  background: url(darkgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main4 {
  background: url(darkgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
/******************
 * Autofinger nav *
 ******************/
p.lev2 {
  background: url(lightgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev2 {
  display: block;
  background: url(lightgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev2:hover {
  background: url(darkgreenpill.jpg) no-repeat;
}
a.lev3 {
  display: block;
  background: url(lightgreenpill.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: normal;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev3:hover {
  background: url(darkgreenpill.jpg) no-repeat;
}
/*****************
 * In-plan Links *
 *****************/
a.planlove {
  color: #09F;
  text-decoration: none;
}
a.planlove:hover {
  text-decoration: underline;
}
a.planlove:visited {
  color: #69F;
}
a.onplan {
  color: #09F;
  text-decoration: none;
}
a.onplan:hover {
  text-decoration: underline;
}
a.onplan:visited {
  color: #69F;
}

/***************
 * Notes Board *
 ***************/
.noteslight {
  background: #f3f3f3;
  border-style: solid;
  border-width: 1px;
  border-color: #74a;
}
.notesdark {
  background: #f3fff3;
  border-style: solid;
  border-width: 1px;
  border-color: #74a;


