/**************
 * Main stuff *
 **************/
body {
  background-color: #fff;
  color: #000; 
  width: 850px;
  margin: 0 auto;
                           scrollbar-face-color: ffffff;
		           scrollbar-shadow-color: 999;
		           scrollbar-highlight-color:999;
		           scrollbar-3dlight-color: ffffff;
		           scrollbar-darkshadow-color: ffffff;
		           scrollbar-track-color: ffffff;
		           scrollbar-arrow-color: 999;
}
p.logo {
  background: url(logo.gif) no-repeat top;
  width: 200px;
  height: 103px;
  margin: 0 0 0 0;
}
table.main {
  background: url(header.gif) repeat-x top;
  width: 700px;
  border: 1px #666 solid;
  margin: 0 auto;
  padding: 0 5px;
}    

td.left {

  border: none;
}
/******************
 * Forms and misc *
 ******************/
input {
  background-color: #FFF;
}
table.mainpanel input {
  border: 1px #999 solid;
}
hr {
  color: #CCC;
  height: 1;
}

/*************
 * Nav links *
 *************/
a.main {
  display: block;
  background: #66CCFF;
  width: 150px;
  height: 24px;
  font-family: Herculanum, sans-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  border: thin dotted red;
  color: #000;
}
a.main:hover {
  color: #cc0000;
  text-decoration: none;
}
/********************
 * Top of plan info *
 ********************/
p.main {

  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-align: center;
  text-transform: uppercase;
  color: #cc0000;
}
p.main2 {
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-align: center;
  color: #cc0000;
  text-transform: uppercase;
}
p.main3 {

  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #cc0000;
  text-transform: uppercase;
}
p.main4 {

  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #cc0000;
  text-transform: uppercase;
}
/******************
 * Autofinger nav *
 ******************/
p.lev2 {
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
  border-bottom: thin solid black;
}
a.lev2 {
  display: block;
  background: #66CCFF;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: thin solid black;
}
a.lev2:hover {
  background: #fff;
}
a.lev3 {
  display: block;

  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: normal;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;

}
a.lev3:hover {
  color: #cc0000;
}
/*****************
 * In-plan Links *
 *****************/
a.planlove {
  color: #0000CC;
  text-decoration: none;
}
a.planlove:hover {
  text-decoration: underline;
}
a.planlove:visited {
  color: #0000CC;
}
a.onplan {
  color: #0000CC;
  text-decoration: none;
}
a.onplan:hover {
  text-decoration: underline;
}
a.onplan:visited {
  color: #0000CC;
}

/***************
 * Notes Board *
 ***************/
.noteslight {
  background: #f3f3f3;
  border-style: solid;
  border-width: 1px;
  border-color: #74a;
}
.notesdark {
  background: #f3fff3;
  border-style: solid;
  border-width: 1px;
  border-color: #74a;
