<?
	/* Centralized file to hold all configuration parameters */

	define('SESSION_ENCRYPTION_KEY', '');
	define('TZ', 'America/Chicago');
	define('MYSQL_DB', '');
	define('MYSQL_USER', '');
	define('MYSQL_PASS', '');
	define('MYSQL_HOST', '');
	define("COOKIE_DOMAIN", ".grinnellplans.com"); 
	define('COOKIE_PAYLOAD', "pe");
?>
