<?
/* Centralized file to hold all configuration parameters */
define('ENVIRONMENT', 'dev');

define("PLANSVERSION", "2.7");
define("PLANSVNAME", "Plans " . PLANSVERSION);

define('GOOGLE_CODE_SECRET', '');

define('TZ', 'America/Chicago');
define('MYSQL_DB', 'plans');
define('MYSQL_USER', 'username');
define('MYSQL_PASS', 'password');
define('MYSQL_HOST', 'localhost');

define('DB_URI', 'mysql://username:password@localhost/plans');

define('COOKIE_DOMAIN', ''); 
define('COOKIE_PAYLOAD', 'pe');
define('SESSION_ENCRYPTION_KEY', '');

define('NOTES_THREADS_PER_PAGE', 25);
define('NOTES_MSGS_PER_PAGE', 25);

define('USER_GUEST_NAME', 'guest');

define('GEO_GMAPS_API', '');
define('GEO_DATABASE', __ROOT__ . '/geo/geo.dat');

define('MAILER_ADDRESS', "noreply@grinnellplans.com");
define('USE_NATIVE_MAIL', true);	//~(use SMTP?)
define('SMTP_SERVER_URI', "");
define('SMTP_SERVER_PORT', 0);
define('SMTP_USE_AUTH', true);
define('SMTP_USERNAME', "");
define('SMTP_PASSWORD', "");


// Use this if you wish to override the auto-detected environment type.
// Options are 'development', 'production', or 'testing'
//$GLOBALS['ENVIRONMENT'] = 'testing';
?>
