/* ###Main stuff */

/* Set the text color and background */

body {color: #000000; background-color: #ffffff; background: #ffffff}

a.logo {
  display:block;
  background: #fff url("plans2.jpg") no-repeat;
  padding: 0.4cm 2.25cm;
  margin-bottom:1em;
}

li {list-style-type:none;}

/* Plan Display page stuff */

/* Fix for PRE double-spacing [bug 21] */
pre br {display:none}
/* End fix */

/* Set the plan container text */
#plan {
    background: #f1f1f1; color: #000000; border-style: solid solid
solid solid; border-width:
thin; border-color: #a9aaec; margin-bottom: 2px; font-variant: none; 
padding: 10px; margin-left:240px}


/* Settings for div#header */
/* Plan Of: Text */
li.username {color: #A9AAEC; font-variant: small-caps}

/* Last Login: Text */
li.lastlogin {margin-left: 1em; color: #99DC9A; font-variant: small-caps}

/* Last Update: Text */
li.lastupdated {margin-left: 2em; color: #DC999A; font-variant: small-caps}

/* Name: Text */
li.name {margin-left: 3em; color: #DC9ADC; font-variant: small-caps}

div#header li span {font-variant: normal; color: black}
span#name {text-decoration: underline}

/* ###Regular link stuff */

/* Set the regular image */
#links li, #autofingerlist li.autoread, #autofingerlist li.autoreadcurrent {
    list-style-image: url("right.gif");
}

/* Set regular links */
a:link {  text-decoration: none; color: #a9aaec; font-variant: small-caps;
font-family: times;}

/* Set visited links */
a:visited {  text-decoration: none; color: #a9aaec; font variant: small-caps;
font-weight: bold; font-family: times;}

/* Set onMouseOver type effects */
a:hover {  color: #ffffff; text-decoration: underline; background-color:
#a9aaec}

/* Set on-plan, to outside links */
a.onplan{  text-decoration: none; color: #0000ff; font-variant:
small-caps;
font-family: times; background: #f1f1f1}

/* Set planlove links */
a.planlove{ 
text-decoration: none; color: #0000ff; font-variant:
small-caps;
font-family: times; background: #f1f1f1}

/* Set the autoread list settings */
#autofingerlist { 
    color: #000000; border-style: solid solid
solid  solid; border-width: thin; border-color: #ecaaa9; margin-bottom:
2px; font-variant: none;
    padding: 3px;
    padding-left: 15px;
}

li.autoreadentry {
    list-style-image: url("right2.gif");
    height: 20px;
    padding: 1px;
}

span#af_loading {
  background: url("progress.gif");
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}

/* Set the link for sub categories */
#autofingerlist li.autoreadentry a:link {  text-decoration: none; color: #50BED6; font-variant:
small-caps; background-color: #ffffff; font-family: times}

/* Set visited links for sub categories */
#autofingerlist li.autoreadentry a:visited {  text-decoration: none; color: #50BED6; font variant:
small-caps;
font-weight: bold; background-color: #ffffff;font-family: times;}

/* Set hover links for subcategories */
#autofingerlist li.autoreadentry a:hover {  color: #ffffff; text-decoration: underline;
background-color: #50BED6}

/* Set non-click text for subcategories */
#autofingerlist p {color: #D68080;font-variant: small-caps;}

/* Hide plain-text autoread levels */
.autoreadlevel { display: none }

/* Footer and general layout  settings.
   Taken wholesale from terminal-blue */
#nav	{
  width:200px;
  float:left;
  margin:1em;
}
#content {margin-left:240px;
	padding:1em;}

#plan {
  margin-top:2em;
  margin-bottom:2em;
}

#footer {}
#footer form {
  text-align:center;
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}
#footer div {
  margin-top:1em;
  margin-bottom:1em;
}
#footer #tos {font-size:8pt;}
#footer li {display:inline;}

/***************
 * Notes Board *
 ***************/
.noteslight {
  background: #eee;   
  border-style: solid;
  border-width: 1px;
  border-color: #a9aaec;
}            
.notesdark {
  background: #e9eaff;   
  border-style: solid;
  border-width: 1px;  
  border-color: #eee;
}

/* Settings for infoboxes */
.info { display: block;
        padding: 2px;
        background: #eee;
}
.infotitle {
        font-weight: bold;
        display: block;
        color: blue;
            border: thin black solid;
    }
