/**************
 *April Fool's*
 **************/

a.inline {
color:#7F1F1F;
background:#EF1FFF;
border-top:3px solid #0DFF00;
border-right:4px double #00FFFA;
border-bottom:2px dashed #FDFF2F;
border-left:2px dotted #FFFFFF;
padding:1px 4px 3px 9px;
margin:5px;
}
a.inline:hover {
color:#3FFFFB;
font-size:200%;
text-decoration:underline overline line-through blink;
background:#41AF46;
border:15px inset #AF4C59;
}
     


/**************
 * Main stuff *
 **************/
body {
  background-color: #000;
  color: #000; 
                           scrollbar-face-color: 000;
		           scrollbar-shadow-color: 9681c4;
		           scrollbar-highlight-color:9681c4;
		           scrollbar-3dlight-color: d6c1ff;
		           scrollbar-darkshadow-color: d6c1ff;
		           scrollbar-track-color: 000;
		           scrollbar-arrow-color: b6a1e4;
/*b6a1e4
*/
}
p.logo {
  background: url(bluelogo.jpg) no-repeat;
  width: 150px;
  height: 75px;
}
table.main {
 bgcolor: #fff;
  background: url(stripes.jpg) repeat;
  border: 1px #CCC solid;
  padding: 10px;
}
td.left {
  border: #000 solid;
  border-width: 0px 1px 0px 0px;
}
td.right {
  border: #000 solid;
  border-width: 0px 0px 0px 1px;
}


/******************
 * Forms and misc *
 ******************/
input {
  background-color: #FFF;
}
table.mainpanel input {
 background-color: #eee;
  border: 1px #999 solid;
 color: #005
}
hr {
  color: #005;
  height: 1;
}
/*************
 * Nav links *
 *************/
a.main {

  display: block;
  background: url(blueborder.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;  
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.main:hover {
  background: url(bluesolid.jpg) no-repeat;
}
/********************
 * Top of plan info *
 ********************/
p.main {
  background: url(greysolid.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main2 {
  background: url(bluesolid.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main3 {
  background: url(yellowsolid.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
p.main4 {
  background: url(redsolid.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
/******************
 * Autofinger nav *
 ******************/
p.lev2 {
  background: url(yellowborder.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev2 {
  display: block;
  background: url(yellowborder.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev2:hover {
  background: url(yellowsolid.jpg) no-repeat;
}
a.lev3 {
  display: block;
  background: url(redsolid.jpg) no-repeat;
  width: 150px;
  height: 24px;
  font-family: Geneva, Arial, Helvetica, san-serif;
  font-weight: normal;
  font-variant: small-caps;
  font-size: x-small;
  text-decoration: none;
  text-align: center;
  color: #000;
}
a.lev3:hover {
  background: url(redborder.jpg) no-repeat;
}
/*****************
 * In-plan Links *
 *****************/
a.planlove {
  color: #47a;
  text-decoration: none;
}
a.planlove:hover {
  text-decoration: underline;
}
a.planlove:visited {
  color: #69F;
}

a.boardlink {
  color: #47a;
  text-decoration: none;
}
a.boardlink:hover {
  text-decoration: underline;
}
a.boardlink:visited {
  color: #69F;
}


a.onplan {
  color: #09F;
  text-decoration: none;
}
a.onplan:hover {
  text-decoration: underline;
}
a.onplan:visited {
  color: #69F;
}


/***************
 * Notes Board *
 ***************/
.noteslight {
  background: #fffff0;  
  border-style: solid;
  border-width: 1px;
  border-color: #47a;
}
.notesdark {
  background: #f0eeff;
  border-style: solid;
  border-width: 1px;
  border-color: #47a;
}
 



